{% extends 'base.html.twig' %}
{% block title %}Edit Business{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-6">
                <h4>Edit Business</h4>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-secondary" href="{{ path('app_business_index') }}">Back to list</a>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                {{ include('business/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
{% endblock %}
