{% extends 'base.html.twig' %}
{% block title %}Scotts Practice One{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>Scotts Practice Application</h4>
            <p>This app will allow you to manage businesses and their related tags. Users will then be able to search the businesses via text or based on the related tags.</p>
            <p>This application was written using Symfony 6.3.0 (PHP 8.2, Doctrine ORM, Twig Templating), MariaDB, jQuery and Bootstrap</p>
        </div>
    </div>
</div>
{% endblock %}
