{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-6">
                <h4>New Tag</h4>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-secondary" href="{{ path('app_tag_index') }}">Back to list</a>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                {{ include('tag/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
